.task {

    background-color: var(--light);
    padding: 20px;
    padding-right: 80px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    cursor: pointer;
    color: var(--darker);

    &>input,
    textarea {
        background-color: transparent;
        color: var(--dark);
        border-bottom: 1px dashed var(--dark);

        &.task__deadline {
            width: 100px;
        }
    }

    &.completed {
        background-color: var(--lighter);
    }

    textarea {
        font-size: 16px;
        resize: none;
    }

    &__name {
        font-size: 18px;
        font-weight: bold;

    }

    &__content {
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        visibility: hidden;

        &.open {
            max-height: 800px;
            transition: all 0.3s ease-in-out;
            visibility: visible;
        }
    }

    &__buttons {
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        gap: 5px;

        button,
        input {
            background-color: transparent;
            transition: all 0.3s ease-in-out;

            &:hover {
                background-color: rgba(77, 46, 83, 0.23);
            }
        }
    }

    button {
        border: 0;


        background-size: 20px;
        background-repeat: no-repeat;
        background-position: center;
        height: 40px;
        width: 40px;
        border-radius: 20px;


    }

    &__edit-btn {
        background-image: url('../../assets/img/edit.png');

    }

    &__complete-btn {
        background-image: url('../../assets/img/complete.png');

        &.completed {
            opacity: 0.3;
        }

    }

    &__complete {
        appearance: none;
        height: 40px;
        width: 40px;
        background-image: url('../../assets/img/complete.png');
        background-size: 20px;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.7;

        border-radius: 20px;
        cursor: pointer;
        position: relative;

        &:checked {
            content: '';
            height: 40px;
            width: 40px;
            background-image: url('../../assets/img/cross.png');
            background-size: 20px;
            background-position: center;
            background-repeat: no-repeat;
            opacity: 0.7;
        }
    }

    &__delete-btn {
        background-image: url('../../assets/img/delete.png');
    }

    &__deadline {
        opacity: 0.8;
        font-size: 14px;
    }

}