.task-filter {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    user-select: none;

    &__option {
        padding: 5px 10px;
        border: 1px solid var(--light);
        cursor: pointer;
        color: var(--light);

        &:first-child {
            border-radius: 5px 0 0 5px;
        }

        &:last-child {
            border-radius: 0 5px 5px 0;
        }

        &.active {
            background-color: var(--light);
            transition: all 0.3s ease;
            color: var(--dark);
        }
    }
}